<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="passwordFilePath" value="D:\tmp\passwords_638438550435200238_0.txt"/>
    <add key="walletAddr" value="TUts112barukopnXS3Fxn8xGvGTLNj9RLn"/>
    <add key="LoginCookie" value="__51vcke__3HGOkyQbi3b9rfq5=073cce6a-bbb0-5323-bd9c-a67f669f9d11; __51vuft__3HGOkyQbi3b9rfq5=1708156944399; think_var=bs; PHPSESSID=srbm9o3sm1633srtla8p7p7gn7; __vtins__3HGOkyQbi3b9rfq5=%7B%22sid%22%3A%20%2200da4651-df19-51b8-80ed-178735c3f027%22%2C%20%22vd%22%3A%201%2C%20%22stt%22%3A%200%2C%20%22dr%22%3A%200%2C%20%22expires%22%3A%201708248862650%2C%20%22ct%22%3A%201708247062650%7D; __51uvsct__3HGOkyQbi3b9rfq5=5"/>
    <add key="RequestCountAtTime" value="10"/>
  </appSettings>
</configuration>